{% extends "base.html" %}
{% block title %}Table of Contents{% endblock %}

{% block content %}
<ul id="tree">
<li>
    <a>
        Chapter 1: Getting Started with Wijmo
    </a>
    <ul>
        <li>
            <a>
                Setting up Wijmo
            </a>
            <ul>
                <li>
                    <a>
                        Installing Wijmo the quick way via a CDN
                    </a>
                </li>
                <li>
                    <a>
                        Installing Wijmo for development
                    </a>
                    <ul>
                        <li>
                            <a>
                                Customizing jQuery UI for download
                            </a>
                        </li>
                        <li>
                            <a>
                                Downloading Wijmo
                            </a>
                        </li>
                        <li>
                            <a>
                                Installing jQuery UI for development
                            </a>
                        </li>
                        <li>
                            <a>
                                Installing Wijmo for development
                            </a>
                        </li>
                        <li>
                            <a>
                                Adding Wijmo to an HTML document
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>
                        Wijmo licensing
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a>
                Required background
            </a>
        </li>
    </ul>
</li>
<li>
    <a>
        Chapter 2: The Dialog Widget
    </a>
    <ul>
        <li>
            <a>
                Wijmo additions to the dialog widget at a glance
            </a>
            <ul>
                <li>
                    <a>
                        Adding custom buttons
                    </a>
                </li>
                <li>
                    <a>
                        Configuring the dialog widget's appearance
                    </a>
                </li>
                <li>
                    <a>
                        Loading external content
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a>
        Chapter 3: Form Components
    </a>
    <ul>
        <li>
            <a>
                Checkbox
            </a>
        </li>
        <li>
            <a>
                Radio buttons
            </a>
        </li>
        <li>
            <a>
                Dropdown
            </a>
        </li>
        <li>
            <a>
                ComboBox
            </a>
        </li>
        <li>
            <a>
                InputDate
            </a>
        </li>
        <li>
            <a>
                InputMask
            </a>
        </li>
    </ul>
</li>
<li>
    <a>
        Chapter 4: Working with Images
    </a>
    <ul>
        <li>
            <a>
                Using the carousel widget
            </a>
            <ul>
                <li>
                    <a>
                        Creating the carousel widget
                    </a>
                </li>
                <li>
                    <a>
                        Configuring the carousel widget
                    </a>
                </li>
                <li>
                    <a>
                        Using the display options to show multiple images
                    </a>
                </li>
                <li>
                    <a>
                        Specifying the navigation options
                    </a>
                </li>
                <li>
                    <a>
                        Adding the timer and autoplay
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a>
                Using the gallery widget
            </a>
            <ul>
                <li>
                    <a>
                        Creating the gallery widget
                    </a>
                </li>
                <li>
                    <a>
                        Playing videos in the gallery widget
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a>
                Using the lightbox widget
            </a>
            <ul>
                <li>
                    <a>
                        Creating the lightbox widget
                    </a>
                </li>
                <li>
                    <a>
                        Changing the lightbox widget's appearance
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li><a>Chapter 5: Advanced Widgets </a>
    <ul>
        <li><a>Using the tooltip widget</a>
            <ul>
                <li><a>Positioning the tooltip widget </a></li>
                <li><a> Loading AJAX content in the tooltip widget </a></li>
                <li><a> Styling the tooltip widget</a></li>
            </ul>
        </li>
        <li><a>Using the upload widget with the ProgressBar element </a></li>
        <li><a> Applying Wijmo themes to HTML5 videos </a></li>
        <li><a> Using the editor widget </a>
            <ul>
                <li><a> Using the editor widget with BBCode for forums </a></li>
            </ul>
        </li>
    </ul>
</li>
<li><a>Chapter 6: Dashboard with WijmoGrid </a>
    <ul>
        <li><a>Introduction to MVVM </a></li>
        <li><a> Introduction to Knockout </a>
            <ul>
                <li><a> Building a rating system with Knockout </a></li>
            </ul>
        </li>
        <li><a> Building the dashboard </a>
            <ul>
                <li><a> Sending a message with Knockout and Socket.IO </a></li>
                <li><a> Displaying messages on the Dashboard</a></li>
            </ul>
        </li>
    </ul>
</li>
<li><a>Chapter 7: Wijmo Mobile </a>
    <ul>
        <li><a>Getting started with Wijmo mobile </a>
            <ul>
                <li><a> Setting up Wijmo mobile </a>
                    <ul>
                        <li><a> Obtaining jQuery mobile </a></li>
                        <li><a> Installing jQuery mobile </a></li>
                        <li><a> Using a mobile browser emulator </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a> Creating an expander widget </a>
            <ul>
                <li><a> Passing options to the expander widget </a></li>
            </ul>
        </li>
        <li><a> Creating a ListView widget </a></li>
        <li><a> Creating an AppView widget </a>
            <ul>
                <li><a> Adding the AppView pages </a></li>
                <li><a> Reusing non-mobile pages </a></li>
            </ul>
        </li>
    </ul>
</li>
<li><a>Chapter 8: Extending Wijmo </a>
    <ul>
        <li><a>Extending Wijmo Open </a>
            <ul>
                <li><a> Modifying the Dialog widget </a></li>
                <li><a> Modifying a Wijmo theme with ThemeRoller </a></li>
            </ul>
        </li>
    </ul>
</li>
</ul>
{% endblock %}