{% extends "base.html" %}
{% block title %}Contact {% endblock %}

{% block content %}

    <h2>Provide feedback</h2>

    <p>If you have found errata in the book or just want to send book author a message, fill the following form. For
        errata don't forget to specify pages. Thank you.</p>
    {% csrf_token %}
    <form action="{% url 'contact_form' %}" method="post" id="contact">
    {% csrf_token %}
    <ul class="formdecorator">
        {{ form.non_field_errors }}
        {{ form.as_ul }}
        <li>
            <label></label>
            <button>
                Submit
            </button>
        </li>
    </ul>
    </form>
{% endblock %}