{% extends "base.html" %}
{% block title %}Preface{% endblock %}

{% block content %}
    <h3>Preface</h3>
    <p>Wijmo is a new JavaScript library focusing on user interface widgets. It builds on jQuery UI, enhancing existing widgets, and adding new ones. In this book we examine the Wijmo widgets essential for web development. The useful configuration options for 15 widgets are covered along with their usage scenarios. Most of the chapters take a code recipe approach for tasks that occur often in web development. Whenever you come across a widget or user interface component that you've implemented before, chances are that Wijmo widgets have you covered. The chapters in this book are designed to get you started using the widgets in no time. On the other hand, <i>Chapter 6, Dashboard with Wijmo Grid</i>, takes a different approach in building an application and explaining how it works.
        </p><p>
There is no need for going in sequence of the chapters if you're familiar with Wijmo. However, if you're experiencing Wijmo for the first time, I would recommend going in the same order as the chapters.</p>
    <h3>Wijmo licensing</h3>
    <p>Wijmo Open is licensed under both MIT and GPL. The MIT license allows you to use
the software in any way you want as long as the copyright attribution is kept. Wijmo
Open is an expansion of jQuery UI with more widgets and options. A few of the
widgets not included in jQuery UI that are in Wijmo Open are:</p>
    <ul>
        <li>Expander</li>
        <li>Form Decorator
            <ul>
                <li>Radio Button</li>
                <li>TextBox</li>
                <li>DropDown</li>
                <li>CheckBox</li>
            </ul>
        </li>
        <li>List</li>
        <li>Popup</li>
        <li>Splitter</li>
        <li>SuperPanel</li>
        <li>Video Player</li>
    </ul>
    <p>Wijmo Professional is intended for businesses developing closed-source projects.
It includes everything from Wijmo Open, in addition to the following:</p>
    <ul>
        <li>Charts
            <ul>
                <li>Bubble Chart</li>
                <li>Composite Chart</li>
                <li>Line Chart</li>
                <li>Bar Chart</li>
                <li>Pie Chart</li>
                <li>Scatter Chart</li>
            </ul>
        </li>
        <li>ComboBox</li>
        <li>Datasource</li>
        <li>Grid</li>
        <li>Input
            <ul>
                <li>Date</li>
                <li>Mask</li>
                <li>Number</li>
            </ul>
        </li>
        <li>Media
            <ul>
                <li>Carousel</li>
                <li>Gallery</li>
                <li>Lightbox</li>
            </ul>
        </li>
        <li>Pager</li>
        <li>Rating</li>
        <li>Tree</li>
        <li>Upload</li>
        <li>Wizard</li>
    </ul>
    <p>
    The license cost is per developer at a rate of $495 (<a href="https://wijmo.com/purchase/">https://wijmo.com/purchase/</a>).
However, ComponentOne does offer a GPLv3 license for use in open source
applications.
    </p>
    <h3>Required background</h3>
    <p>
    Before reading this book, you should be familiar with HTML, CSS, JavaScript,
and jQuery. jQuery UI knowledge is not required, but would be a bonus since
Wijmo is similar to jQuery UI in many ways. Only the last chapter of the book,
which is based on extending Wijmo, requires advanced CSS and JavaScript
knowledge. A basic working understanding of web development will get you
through this book. If the examples in this chapter come naturally to you, then
you're well on your way to learning Wijmo.
    </p>
{% endblock %}