{% extends "base.html" %}
{% block title %}Preface{% endblock %}

{% block content %}
    <p>Wijmo is a new JavaScript library focusing on user interface widgets. It builds on jQuery UI, enhancing existing widgets, and adding new ones. In this book we examine the Wijmo widgets essential for web development. The useful configuration options for 15 widgets are covered along with their usage scenarios. Most of the chapters take a code recipe approach for tasks that occur often in web development. Whenever you come across a widget or user interface component that you've implemented before, chances are that Wijmo widgets have you covered. The chapters in this book are designed to get you started using the widgets in no time. On the other hand, Chapter 6, Dashboard with Wijmo Grid, takes a different approach in building an application and explaining how it works.
There is no need for going in sequence of the chapters if you're familiar with Wijmo. However, if you're experiencing Wijmo for the first time, I would recommend going in the same order as the chapters.</p>
{% endblock %}