{% extends "base.html" %}
{% block title %}Reviews{% endblock %}
{% block description %}
Reviews of the book Building UIs with Wijmo.
{% endblock %}

{% block content %}
    <blockquote>
    <p>
    Building great user interfaces for a desktop app isn't easy. Build great web user interfaces is even harder. We use things like bootstrap or jQueryUI to make things easier. Have you ever looked at Wijmo? Wijmo is built on top of and extends jQuery UI. It comes in two versions, a free one that has a minimal, but usable set of widgets and a Professional edition that has really cool things like SVG graphs, a data grid, and even a web-based spreadsheet. You can even purchase a support contract that lets you pick up the phone and call someone when you get stuck. Wijmo is a product of ComponentOne.</p>
<p>While Wijmo is pretty easy to pickup and use, like any technology, there are some tricky areas and gotchas. The book, "Building UIs with Wijmo" by Yuguang Zhang and published by Packt Publishing points out some of those areas, but also give you some basics to get you going quickly.</p>
<p>The book starts with an explanation of Wijmo and how to install then quickly moves into a simple widget, the Dialog. It provides a good explanation of how the Wijmo dialog differs from the one in jQueryUI and how to take advantage of the differences. It even discusses loading external content into the Wijmo dialog's IFrame.</p>
<p>Chapter 3 then discusses some of the form controls, particularly the Checkbox, Radio Button, and DropDown controls. There is a good comment about radio buttons that look like command buttons causing confusion to users (I've had trouble with these myself) and a good example for the DropDown control listing continents with countries nested underneath each one . . . </p>
        </blockquote>
    <p class="reviewer">
        <em>
            <a href="http://www.craigberntson.com/blog/" target="_blank">Craig Berntson</a>, ComponentOne Community Influencer
        </em>
    </p>
{% endblock %}